

        <!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
    
    
    
    
    <title>Jariver</title>
    

    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    
    <meta name="author" content="Jariver">
    

    
    <!--<%- open_graph({twitter_id: theme.author.twitter, google_plus: theme.author.google_plus}) %>-->
    
    <meta name="description" content="page.description">
    
    <meta property="og:type" content="website">
    
    <meta property="og:title" content="">
    <meta property="og:url" content="/">
    <meta property="og:site_name" content="Jariver">
    <meta property="og:description" content="">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="page.description">
    <meta name="twitter:creator" content="@">
    <link rel="publisher" href="">

    
    <link rel="alternative" href="/atom.xml" title="Jariver" type="application/atom+xml">
    
    
    <link rel="icon" href="/assets/img/favicon.ico">
    
    
    <link rel="apple-touch-icon" href="/assets/img/jacman.jpg">
    <link rel="apple-touch-icon-precomposed" href="/assets/img/jacman.jpg">
    

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/highlight.css" type="text/css">
</head>

  <body>
    <header>
        <div>
		    
			<div id="imglogo">
				<a href="/"><img src="/assets/img/logo.png" alt="Jariver" title="Jariver"/></a>
			</div>
			
			<div id="textlogo">
				<h1 class="site-name"><a href="/" title="Jariver">Jariver</a></h1>
				<h2 class="blog-motto">A programming enthusiast in Fzu.</h2>
			</div>
			<div class="navbar"><a class="navbutton navmobile" href="#" title="menu">
			</a></div>
			<nav class="animated">
				<ul>
					<ul>
					 
						<li><a href="/">Home</a></li>
					
						<li><a href="/archives">Archives</a></li>
					
						<li><a href="/about">About</a></li>
					
					<li>
 					
					<form class="search" action="//google.com/search" method="get" accept-charset="utf-8">
						<label>Search</label>
						<input type="search" id="search" name="q" autocomplete="off" maxlength="20" placeholder="搜索" />
						<input type="hidden" name="q" value="site:">
					</form>
					
					</li>
				</ul>
			</nav>	
</div>
    </header>
    <div id="container">
      <div id="main">

  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/onlinejudge/2017/03/16/2016044game" title="CCF201604-4游戏(dp+BFS)" itemprop="url">CCF201604-4游戏(dp+BFS)</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-03-16 14:01:22 +0800" itemprop="datePublished">  2017-03-16</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="问题描述">问题描述</h2>

        
        
        <p class="article-more-link">
          
            <a href="/onlinejudge/2017/03/16/2016044game#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#OnlineJudge">OnlineJudge</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#CCF">CCF</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/onlinejudge/2017/03/15/Kruskal" title="CCF201412-4最优灌溉(并查集、Kruskal算法)" itemprop="url">CCF201412-4最优灌溉(并查集、Kruskal算法)</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-03-15 20:01:22 +0800" itemprop="datePublished">  2017-03-15</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="问题描述">问题描述</h2>

        
        
        <p class="article-more-link">
          
            <a href="/onlinejudge/2017/03/15/Kruskal#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#OnlineJudge">OnlineJudge</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#CCF">CCF</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/onlinejudge/2017/03/15/2014123SetGupiao" title="CCF201412-3-集合竞价" itemprop="url">CCF201412-3-集合竞价</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-03-15 16:01:22 +0800" itemprop="datePublished">  2017-03-15</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="问题描述">问题描述</h2>

<p>　　某股票交易所请你编写一个程序，根据开盘前客户提交的订单来确定某特定股票的开盘价和开盘成交量。<br>
　　该程序的输入由很多行构成，每一行为一条记录，记录可能有以下几种：<br>
　　1. buy p s 表示一个购买股票的买单，每手出价为p，购买股数为s。<br>
　　2. sell p s 表示一个出售股票的卖单，每手出价为p，出售股数为s。<br>
　　3. cancel i表示撤销第i行的记录。<br>
　　如果开盘价为p0，则系统可以将所有出价至少为p0的买单和所有出价至多为p0的卖单进行匹配。因此，此时的开盘成交量为出价至少为p0的买单的总股数和所有出价至多为p0的卖单的总股数之间的较小值。<br>
　　你的程序需要确定一个开盘价，使得开盘成交量尽可能地大。如果有多个符合条件的开盘价，你的程序应当输出最高的那一个。<br>
输入格式<br>
　　输入数据有任意多行，每一行是一条记录。保证输入合法。股数为不超过108的正整数，出价为精确到恰好小数点后两位的正实数，且不超过10000.00。<br>
输出格式<br>
　　你需要输出一行，包含两个数，以一个空格分隔。第一个数是开盘价，第二个是此开盘价下的成交量。开盘价需要精确到小数点后恰好两位。</p>

        
        
        <p class="article-more-link">
          
            <a href="/onlinejudge/2017/03/15/2014123SetGupiao#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#OnlineJudge">OnlineJudge</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#CCF">CCF</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/onlinejudge/2017/03/14/HDOJ2544Dijkstra" title="HDOJ2544-最短路(Dijkstra算法)" itemprop="url">HDOJ2544-最短路(Dijkstra算法)</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-03-14 20:01:22 +0800" itemprop="datePublished">  2017-03-14</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="problem-description">Problem Description</h2>

<p>在每年的校赛里，所有进入决赛的同学都会获得一件很漂亮的t-shirt。但是每当我们的工作人员把上百件的衣服从商店运回到赛场的时候，却是非常累的！所以现在他们想要寻找最短的从商店到赛场的路线，你可以帮助他们吗？</p>

        
        
        <p class="article-more-link">
          
            <a href="/onlinejudge/2017/03/14/HDOJ2544Dijkstra#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#OnlineJudge">OnlineJudge</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#HDOJ">HDOJ</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/javaweb/2017/02/08/JspObject" title="Jsp内置对象" itemprop="url">Jsp内置对象</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-02-08 10:01:22 +0800" itemprop="datePublished">  2017-02-08</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="jsp内置对象">Jsp内置对象</h2>

        
        
        <p class="article-more-link">
          
            <a href="/javaweb/2017/02/08/JspObject#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#JavaWeb">JavaWeb</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#Jsp">Jsp</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/javaweb/2017/02/07/IDEABuildServlet" title="IDEA下搭建并部署一个Servlet程序" itemprop="url">IDEA下搭建并部署一个Servlet程序</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-02-07 23:31:22 +0800" itemprop="datePublished">  2017-02-07</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="1-新建一个servlet项目">1.新建一个Servlet项目</h2>

<p>点击File -&gt; New -&gt; Project...然后选择WebApplication，如下图：<br>
<img src="https://jariver.github.io/source/2017-02-07/pic1.jpg" alt=""></p>

        
        
        <p class="article-more-link">
          
            <a href="/javaweb/2017/02/07/IDEABuildServlet#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#JavaWeb">JavaWeb</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#Servlet">Servlet</a>
  
  <a href="/tags/#IDEA">IDEA</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/onlinejudge/2017/02/06/rectCover" title="牛客网剑指Offer系列——矩阵覆盖" itemprop="url">牛客网剑指Offer系列——矩阵覆盖</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-02-06 22:01:22 +0800" itemprop="datePublished">  2017-02-06</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="题目描述">题目描述</h2>

<p>我们可以用2*1的小矩形横着或者竖着去覆盖更大的矩形。请问用n个2*1的小矩形无重叠地覆盖一个2*n的大矩形，总共有多少种方法？</p>

        
        
        <p class="article-more-link">
          
            <a href="/onlinejudge/2017/02/06/rectCover#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#OnlineJudge">OnlineJudge</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#剑指Offer">剑指Offer</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/onlinejudge/2017/02/06/jumpFloor" title="牛客网剑指Offer系列——两种青蛙跳台阶" itemprop="url">牛客网剑指Offer系列——两种青蛙跳台阶</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-02-06 21:01:22 +0800" itemprop="datePublished">  2017-02-06</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="题目描述1">题目描述1</h2>

<p>一只青蛙一次可以跳上1级台阶，也可以跳上2级。求该青蛙跳上一个n级的台阶总共有多少种跳法。</p>

        
        
        <p class="article-more-link">
          
            <a href="/onlinejudge/2017/02/06/jumpFloor#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#OnlineJudge">OnlineJudge</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#剑指Offer">剑指Offer</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/onlinejudge/2017/02/06/Fibonacci" title="牛客网剑指Offer系列——矩阵快速幂解斐波那契数列" itemprop="url">牛客网剑指Offer系列——矩阵快速幂解斐波那契数列</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-02-06 20:01:22 +0800" itemprop="datePublished">  2017-02-06</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="题目描述">题目描述</h2>

<p>大家都知道斐波那契数列，现在要求输入一个整数n，请你输出斐波那契数列的第n项</p>

        
        
        <p class="article-more-link">
          
            <a href="/onlinejudge/2017/02/06/Fibonacci#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#OnlineJudge">OnlineJudge</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#剑指Offer">剑指Offer</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>






  
  
  
  
    
    <article class="post-expand post" itemprop="articleBody"> 
        <header class="article-info clearfix">
  <h1 itemprop="name">
    
      <a href="/onlinejudge/2017/02/01/reConstructBinaryTree" title="牛客网剑指Offer系列——重建二叉树" itemprop="url">牛客网剑指Offer系列——重建二叉树</a>
  </h1>
  <p class="article-author">By
       
		<a href="/about" title="Jariver" target="_blank" itemprop="author">Jariver</a>
		
  <p class="article-time">
    <time datetime="2017-02-01 23:01:25 +0800" itemprop="datePublished">  2017-02-01</time>
    
  </p>
</header>
    <div class="article-content">
        
        <h2 id="题目描述">题目描述</h2>

<p>输入某二叉树的前序遍历和中序遍历的结果，请重建出该二叉树。假设输入的前序遍历和中序遍历的结果中都不含重复的数字。例如输入前序遍历序列{1,2,4,7,3,5,6,8}和中序遍历序列{4,7,2,1,5,3,8,6}，则重建二叉树并返回。</p>

        
        
        <p class="article-more-link">
          
            <a href="/onlinejudge/2017/02/01/reConstructBinaryTree#more">Read More</a>
          
       </p>
    </div>
    
    <footer class="article-footer clearfix">
<div class="article-catetags">

<div class="article-categories">
  <span></span>
  <!--
  <%- list_categories(item.categories, {
      show_count: false,
      class: 'article-category',
      style: 'none',
      separator: '►'
  }) %>
  -->
  
  <a class="article-category-link" href="/categories/#OnlineJudge">OnlineJudge</a>
  
</div>


  <div class="article-tags">
  <!--
  <% var tags = [];
    item.tags.forEach(function(tag){
      tags.push('<a href="' + config.root + tag.path + '">' + tag.name + '</a>');
    }); %>-->
  <span></span> <!--<%- tags.join('') %>-->
  
  
  <a href="/tags/#剑指Offer">剑指Offer</a>
  
  </div>

</div>




<div class="comments-count">
	
</div>

</footer>
    </article>







  <nav id="page-nav" class="clearfix">
  <nav id="page-nav" class="clearfix">
    
    
    <span class="page-number current">1</span>
    
    
    
    <a class="page-number" href="/page2">2</a>
    
    
     
    <a class="extend next" rel="next" href="/page2">Next<span></span></a>
    
  </nav>
  </nav>

</div>
      
      
      <div class="openaside"><a class="navbutton" href="#" title="Show Sidebar"></a></div>

<div id="asidepart">
<div class="closeaside"><a class="closebutton" href="#" title="Hide Sidebar"></a></div>
<aside class="clearfix">


  
<div class="categorieslist">
	<p class="asidetitle">分类</p>
		<ul>
		
		  
			<li><a href="/categories/#Jekyll" title="Jekyll">Jekyll<sup>1</sup></a></li>
		  
		
		  
			<li><a href="/categories/#Test" title="Test">Test<sup>1</sup></a></li>
		  
		
		  
			<li><a href="/categories/#Linux" title="Linux">Linux<sup>1</sup></a></li>
		  
		
		  
			<li><a href="/categories/#OnlineJudge" title="OnlineJudge">OnlineJudge<sup>15</sup></a></li>
		  
		
		  
			<li><a href="/categories/#JavaWeb" title="JavaWeb">JavaWeb<sup>2</sup></a></li>
		  
		
		</ul>
</div>


  
<div class="tagslist">
	<p class="asidetitle">标签</p>
		<ul class="clearfix">
		
			
				<li><a href="/tags/#Test" title="Test">Test<sup>1</sup></a></li>
			
		
			
				<li><a href="/tags/#Ubuntu" title="Ubuntu">Ubuntu<sup>1</sup></a></li>
			
		
			
				<li><a href="/tags/#DualSystem" title="DualSystem">DualSystem<sup>1</sup></a></li>
			
		
			
				<li><a href="/tags/#剑指Offer" title="剑指Offer">剑指Offer<sup>11</sup></a></li>
			
		
			
				<li><a href="/tags/#Servlet" title="Servlet">Servlet<sup>1</sup></a></li>
			
		
			
				<li><a href="/tags/#IDEA" title="IDEA">IDEA<sup>1</sup></a></li>
			
		
			
				<li><a href="/tags/#Jsp" title="Jsp">Jsp<sup>1</sup></a></li>
			
		
			
				<li><a href="/tags/#HDOJ" title="HDOJ">HDOJ<sup>1</sup></a></li>
			
		
			
				<li><a href="/tags/#CCF" title="CCF">CCF<sup>3</sup></a></li>
			
		
		</ul>
</div>


  <div class="linkslist">
  <p class="asidetitle">友情链接</p>
    <ul>
        
          <li>
            <a href="http://csming1995.github.io" target="_blank" title="csming's Blog">csming's Blog</a>
          </li>
        
    </ul>
</div>

  


  <div class="rsspart">
	<a href="/atom.xml" target="_blank" title="rss">RSS 订阅</a>
</div>


</aside>
</div>
    </div>
    <footer><div id="footer" >
	
	<div class="line">
		<span></span>
		<div class="author"></div>
	</div>
	
	
	<section class="info">
		<p> Hello, I'm Jariver studying in Fzu. <br/>
			This is my blog, we can study together.</p>
	</section>
	 
	<div class="social-font" class="clearfix">
		
		
		
		
		
		
		
		
		
		
	</div>
	<!--
			<%  Array.prototype.S=String.fromCharCode(2);
			  Array.prototype.in_array=function(e){
    			var r=new RegExp(this.S+e+this.S);
    			return (r.test(this.S+this.join(this.S)+this.S));
				};
				var cc = new Array('by','by-nc','by-nc-nd','by-nc-sa','by-nd','by-sa','zero'); %>
		<% if (cc.in_array(theme.creative_commons) ) { %>
				<div class="cc-license">
          <a href="http://creativecommons.org/licenses/<%= theme.creative_commons %>/4.0" class="cc-opacity" target="_blank">
            <img src="<%- config.root %>img/cc-<%= theme.creative_commons %>.svg" alt="Creative Commons" />
          </a>
        </div>
    <% } %>
				-->

		<p class="copyright">
		Powered by <a href="http://jekyllrb.com" target="_blank" title="jekyll">jekyll</a> and Theme by <a href="https://github.com/wuchong/jacman" target="_blank" title="Jacman">Jacman</a> © 2015 
		
		<a href="about" target="_blank" title="Jariver">Jariver</a>
		
		
		</p>
</div>
</footer>
    <script src="/assets/js/jquery-2.0.3.min.js"></script>
<script src="/assets/js/jquery.imagesloaded.min.js"></script>
<script src="/assets/js/gallery.js"></script>
<script src="/assets/js/jquery.qrcode-0.12.0.min.js"></script>
<script src="/assets/js/toc.js"></script>

<script type="text/javascript">
$(document).ready(function(){ 
  $('.navbar').click(function(){
    $('header nav').toggleClass('shownav');
  });
  var myWidth = 0;
  function getSize(){
    if( typeof( window.innerWidth ) == 'number' ) {
      myWidth = window.innerWidth;
    } else if( document.documentElement && document.documentElement.clientWidth) {
      myWidth = document.documentElement.clientWidth;
    };
  };
  var m = $('#main'),
      a = $('#asidepart'),
      c = $('.closeaside'),
      o = $('.openaside');
  c.click(function(){
    a.addClass('fadeOut').css('display', 'none');
    o.css('display', 'block').addClass('fadeIn');
    m.addClass('moveMain');
  });
  o.click(function(){
    o.css('display', 'none').removeClass('beforeFadeIn');
    a.css('display', 'block').removeClass('fadeOut').addClass('fadeIn');      
    m.removeClass('moveMain');
  });
  $(window).scroll(function(){
    o.css("top",Math.max(80,260-$(this).scrollTop()));
  });
  
  
  
  $(window).resize(function(){
    getSize(); 
    if (myWidth >= 1024) {
      $('header nav').removeClass('shownav');
    }else{
      m.removeClass('moveMain');
      a.css('display', 'block').removeClass('fadeOut');
      o.css('display', 'none');
      
    }
  });
});
</script>










<!--

-->




<link rel="stylesheet" href="/assets/fancybox/jquery.fancybox.css" media="screen" type="text/css">
<script src="/assets/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
$(document).ready(function(){ 
  $('.article-content').each(function(i){
    $(this).find('img').each(function(){
      if ($(this).parent().hasClass('fancybox')) return;
      if ($(this).hasClass('emoji')) return;
      var alt = this.alt;
      if (alt) $(this).after('<span class="caption">' + alt + '</span>');
      $(this).wrap('<a href="' + this.src + '" title="' + alt + '" class="fancybox"></a>');
    });
    $(this).find('.fancybox').each(function(){
      $(this).attr('rel', 'article' + i);
    });
  });
  if($.fancybox){
    $('.fancybox').fancybox();
  }
}); 
</script>


<!-- Analytics Begin -->





<!-- Analytics End -->

<!-- Totop Begin -->

	<div id="totop">
	<a title="返回顶部"><img src="/assets/img/scrollup.png"/></a>
	</div>
	<script src="/assets/js/totop.js"></script>

<!-- Totop End -->

<!-- MathJax Begin -->
<!-- mathjax config similar to math.stackexchange -->

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
      }
    });
</script>

<script type="text/x-mathjax-config">
    MathJax.Hub.Queue(function() {
        var all = MathJax.Hub.getAllJax(), i;
        for(i=0; i < all.length; i += 1) {
            all[i].SourceElement().parentNode.className += ' has-jax';
        }
    });
</script>

<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>


<!-- MathJax End -->

<!-- Tiny_search Begin -->

<!-- Tiny_search End -->
  </body>
 </html>

